.header-box{
    display: flex;
    justify-content: space-between;
  
}


.input-box{
    position: absolute;
    right: 20px;
}
.input-box button{
    border-radius: 20px;
    height: 35px;
    border: 2px solid gray;
}

.input-box .fa-user{
    color: gray;
}

.current-page{
    font-size: 14px;
}